<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <bean id="duke" class="juggler.BeanBagJuggler"/>

    <bean id="poeticJuggler" class="juggler.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="poem"/>
    </bean>

    <bean id="poem" class="poem.Sonnet"/>

    <bean id="stage" class="stage.Stage" factory-method="getInstance" init-method="turnOnLights"
          destroy-method="turnOffLights"/>

</beans>