<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <!--<import resource="aop.xml" />-->

    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <context:component-scan base-package="ua.nure.hasanov"/>

    <bean id="duke" class="ua.nure.hasanov.juggler.BeanBagJuggler"/>

    <bean id="stage" class="ua.nure.hasanov.stage.Stage" factory-method="getInstance" init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="kenny" class="ua.nure.hasanov.perform.Instrumentalist">
        <property name="song" value="#{'My song number ' + T(java.lang.Math).random()}"/>
    </bean>

    <bean id="jerry" class="ua.nure.hasanov.perform.OneManBand">
        <property name="instrumentList">
            <list>
                <ref bean="guitar"/>
                <ref bean="drums"/>
                <ref bean="saxophone"/>
            </list>
        </property>
        <property name="instrumentMap">
            <map>
                <entry key="Guitar" value-ref="guitar"/>
                <entry key="Drums" value-ref="drums"/>
                <entry key="Saxophone" value-ref="saxophone"/>
            </map>
        </property>
    </bean>

    <bean id="virtuoso" class="ua.nure.hasanov.perform.VirtuosoMusician">
        <lookup-method name="getInstrument" bean="guitar"/>
    </bean>

    <bean id="magicBox" class="ua.nure.hasanov.magic.BlackMagicBox">
        <replaced-method name="getContent" replacer="tigerReplacer"/>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="jdbc.properties"/>
    </bean>

    <bean id="databaseManager" class="ua.nure.hasanov.db.DatabaseManager">
        <constructor-arg name="url" value="${database.url}"/>
        <constructor-arg name="username" value="${database.username}"/>
        <constructor-arg name="password" value="${database.password}"/>
    </bean>

</beans>