<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init" default-destroy-method="destroy">

    <bean id="duke" class="juggler.BeanBagJuggler"/>

    <bean id="poeticJuggler" class="juggler.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="poem"/>
    </bean>

    <bean id="poem" class="poem.Sonnet"/>

    <bean id="stage" class="stage.Stage" factory-method="getInstance" init-method="turnOnLights"
          destroy-method="turnOffLights"/>

    <bean id="Kenny" class="perform.Instrumentalist">
        <property name="song" value="#{'My song number ' + T(java.lang.Math).random()}"/>
        <property name="instrument" ref="guitar"/>
    </bean>

    <bean id="Jerry" class="perform.OneManBand">
        <property name="instrumentList">
            <list>
                <ref bean="guitar"/>
                <ref bean="drums"/>
                <ref bean="saxophone"/>
            </list>
        </property>
        <property name="instrumentMap">
            <map>
                <entry key="Guitar" value-ref="guitar"/>
                <entry key="Drums" value-ref="drums"/>
                <entry key="Saxophone" value-ref="saxophone"/>
            </map>
        </property>
    </bean>

    <bean id="virtuoso" class="perform.VirtuosoMusician">
        <lookup-method name="getInstrument" bean="guitar"/>
    </bean>

    <bean id="guitar" class="stage.instrument.Guitar" scope="prototype"/>
    <bean id="drums" class="stage.instrument.Drums"/>
    <bean id="saxophone" class="stage.instrument.Saxophone"/>

    <bean id="magician" class="magic.Magician">
        <property name="magicBox" ref="blackBox"/>
    </bean>

    <bean id="blackBox" class="magic.BlackMagicBox">
        <replaced-method name="getContent" replacer="tigerReplacer"/>
    </bean>

    <bean id="tigerReplacer" class="magic.TigerReplacer"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="jdbc.properties"/>
    </bean>

    <bean id="databaseManager" class="db.DatabaseManager">
        <constructor-arg name="url" value="${database.url}"/>
        <constructor-arg name="username" value="${database.username}"/>
        <constructor-arg name="password" value="${database.password}"/>
    </bean>

</beans>